/*загальні налаштування*/

:root {
    --primary-brand: #4D5AE5;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --text-color: #434455;
    --subtle-text: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --white-color: #FFFFFF;

}


body {
    background: var(--white-color);
    color: var(--text-color);
    font-family: Roboto, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* logo header */
.logo-header {
    color: var(--dark-color);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-header:focus {
    color: var(--primary-brand);
}

.web-header {
    color: var(--primary-brand);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.web-header:focus {
    color: var(--dark-color);
}


/* logo footer*/

.logo-footer {
    color: var(--light-color);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-footer:focus {
    color: var(--primary-brand);
}

.web-footer {
    color: var(--primary-brand);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.web-footer:focus {
    color: var(--light-color);
}


/*site navigation*/
.site-nav .link {
    color: var(--dark-color);
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--text-color);
}

.site-nav .link:active {
    color: var(--primary-brand);
}

/* contacts */
.contacts-link {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--primary-brand);
}

/*hero */
.hero {
    background: var(--dark-color);
}

.hero-title {
    color: var(--white-color);
    fon-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero-button {
    color: var(--white-color);
    background-color: var(--primary-brand);
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    align-items: center;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    color: var(--light-color);
    background-color: var(--primary-brand);
}

.hero-button:active {
    color: var(--primary-brand);
    background-color: var(--light-color);
}


/* whu we are */

.section-secondary {
    color: var(--dark-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

/* what are we doing*/

.section-title {
    color: var(--dark-color);
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.section-text {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Our Team */

.gray-section {
    background-color: var(--light-color);
}

.gray-section .title {
    color: var(--dark-color);
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.gray-section .secondary {
    color: var(--dark-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.gray-section .text {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* footer */

footer {
    background-color: var(--dark-color);
}

.footer-text {
    color: var(--accent-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*p. portfolio*/


/* section button*/

.filter-button {
    background-color: var(--light-color);
    font-family: 'Roboto'; 
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--primary-brand);
    color: var(--white-color);
}

.white-text {
    color: var(--light-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}